# Base
.venv/
.DS_Store
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

lab2/data/

lab3/.venv/
lab3/.venv-coqui/
lab3/.cache/
lab3/**/.cache/
lab3/models/
lab3/audio/**/*.wav
lab3/outputs/
lab3/**/__pycache__/
lab3/**/*.py[cod]

lab4/.venv/
lab4/.venv-coqui/
lab4/.cache/
lab4/**/.cache/
lab4/models/
lab4/audio/**/*.wav
lab4/outputs/
lab4/**/__pycache__/
lab4/**/*.py[cod]

# Local
*.pdf
data/
lab1/
lab2_data/
sr_labs_book/
Лабораторная работа 2.md
Лабораторные работы.md
